main {
  min-width: 1024px;
  margin-top: 40px;
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  main h1 {
    margin: 40px 40px;
    font-weight: bold; }
  main .email-form, main .password-form {
    margin: 40px 40px; }
    main .email-form input, main .password-form input {
      margin-bottom: 10px; }
    main .email-form button, main .password-form button {
      margin-top: 20px; }
