main section {
  width: 100%;
  height: 1500px; }
  main section article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start; }
    main section article h1 {
      padding: 100px 0px 50px;
      text-align: center; }
      main section article h1 p {
        padding: 20px 0px 0px;
        font-size: 14px; }
        main section article h1 p span {
          color: #FC735D;
          font-weight: bold;
          font-size: 18px; }
    main section article .form {
      margin: 40px 0px 40px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center; }
      main section article .form ul {
        padding: 40px;
        border-top: 1px solid #999999;
        border-bottom: 1px solid #999999; }
        main section article .form ul .login {
          margin-bottom: 40px; }
        main section article .form ul li a {
          font-weight: bold;
          color: #999999; }
          main section article .form ul li a:hover {
            color: #003569; }
    main section article .description {
      background-color: #ffffff;
      margin: 40px 0px 40px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center; }
      main section article .description h2 {
        margin: 20px 0px 20px;
        font-size: 26px;
        font-weight: bold;
        text-align: center; }
        main section article .description h2 span {
          font-size: 22px; }
      main section article .description .flow-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start; }
        main section article .description .flow-wrapper .flow {
          padding: 40px 40px; }
          main section article .description .flow-wrapper .flow h3 {
            margin: 20px 0px 40px;
            font-size: 22px;
            text-align: center; }
            main section article .description .flow-wrapper .flow h3 img {
              vertical-align: bottom; }
          main section article .description .flow-wrapper .flow .detail img {
            width: 100%;
            max-width: 500px; }
          main section article .description .flow-wrapper .flow .detail p {
            padding: 20px 0px 20px;
            font-size: 14px;
            text-align: center; }
            main section article .description .flow-wrapper .flow .detail p span {
              color: #FC735D;
              font-weight: bold;
              font-size: 18px; }
