main {
  min-width: 1024px;
  margin-top: 40px;
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  main h1 {
    margin: 40px 40px;
    font-weight: bold; }
  main form {
    margin: 40px 40px; }
    main form input, main form select {
      margin-bottom: 10px; }
    main form button {
      margin-top: 20px; }
  main .errors p {
    margin-bottom: 10px; }
