main section {
  margin: 60px auto 0;
  max-width: 935px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  main section article {
    padding: 40px 40px; }
    main section article h1 {
      margin: 40px 40px;
      font-weight: bold; }
    main section article form {
      margin: 40px 40px; }
      main section article form input, main section article form select {
        margin-bottom: 10px; }
      main section article form button {
        margin-top: 20px; }
    main section article .errors p {
      margin-bottom: 10px; }
