main {
  min-width: 1024px;
  margin-top: 40px;
  background-color: lightgoldenrodyellow;
  display: flex;
  // 縦に積む
  flex-direction: column;
  flex-wrap: wrap;
  // 中央寄せ
  justify-content: center;
  align-items: center;
  
  h1 {
    margin: 40px 40px;
    font-weight: bold;
  }

  form {
    margin: 40px 40px;

    input {
      margin-bottom: 10px;
    }

    button {
      margin-top: 20px;
    }
  }

  .errors {
    p {
      margin-bottom: 10px;
    }
  }
}
