<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/images/index.css">
  </head>
  <body>
    <% include ../header %>

    <main>
      <h1>画像一覧</h1>
      <div id="images"></div>
      <script src="/main.js"></script>
    </main>
  </body>
</html>