<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/images/new.css">
  </head>
  <body>
    <% include ../header %>

    <main>
      <h1>画像投稿</h1>
      <form action="/images" method="POST" enctype="multipart/form-data">
        <input type="file" name="faceImage">
        <br>
        <button type="submit">送信</button>
      </form>
    </main>
  </body>
</html>
