<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/images/new.css">
  </head>
  <body>
    <div class="container">
      <%- include("../header", {
        form: {
          logoUrl: "../logo_shape.png",
          active: "images-new"
        }
      }) %>

      <main>
        <section>
          <article>
            <div class="article-item">
              <form action="/images" method="POST" enctype="multipart/form-data">
                <div>
                  <label>画像ファイル<br>
                    <input type="file" name="faceImage">
                  </label>
                </div>
                <div>
                  <button type="submit">送信</button>
                </div>
              </form>
            </div>
            <div class="article-item">
              <div class="success">
                <% if (success) {
                  success.forEach(message => { %>
                    <p><%= message %></p>
                  <% })
                } %>
              </div>
            </div>
          </article>
        </section>
      </main>

      <%- include("../footer", {}) %>
    </div>
  </body>
</html>
