main {
  section {
    margin: 60px auto 0;
    max-width: 935px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;

    article {
      width: 600px;

      // このタグ以降のタグはReact側で調整する
    }
  }
}
