  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/account.css">
  </head>
  <body>
    <div class="container">
      <%- include("header", {
        form: {
          logoUrl: "logo_shape.png",
          active: "account"
        }
      }) %>

      <main>
        <section>
          <article>
            <h1>アカウントの変更</h1>
            <form action="/account/email" method="POST">
              <input type="email" name="email" placeholder="email" value="<%= form.email %>">
              <br>
              <button type="submit">メールアドレスを変更</button>
              <br>
            </form>
            <form action="/account/password" method="POST">
              <input type="password" name="currentPassword" placeholder="現在のpassword">
              <br>
              <input type="password" name="newPassword" placeholder="新しいパスワード">
              <br>
              <input type="password" name="newPasswordConfirmation" placeholder="新しいパスワードの確認">
              <br>
              <button type="submit">パスワードを変更</button>
            </form>
            <div class="errors">
              <% if (errors) {
                errors.forEach((error) => { %>
                  <p><%= error %></p>
                <% })
              } %>
            </div>
          </article>
        </section>
      </main>

      <%- include("footer", {}) %>
    </div>
  </body>
</html>
