  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
  </head>
  <body>
    <% include header %>

    <main>
      <h1>アカウント変更</h1>
      <form action="/account/email" method="POST">
        <input type="email" name="email" placeholder="email" value="<%= form.email %>">
        <br>
        <button type="submit">メールアドレスを変更</button>
        <br>
      </form>
      <form action="/account/password" method="POST">
        <input type="password" name="currentPassword" placeholder="現在のpassword">
        <br>
        <input type="password" name="newPassword" placeholder="新しいパスワード">
        <br>
        <input type="password" name="newPasswordConfirmation" placeholder="新しいパスワードの確認">
        <br>
        <button type="submit">パスワードを変更</button>
      </form>

      <% if (errors) {
        errors.forEach((error) => { %>
          <p><%= error %></p>
        <% })
      } %>
    </main>
  </body>
</html>
