<html>
  <body>
    <header>
      <div>Profeeling</div>
      <ul class="menu">
        <li><a href="/">トップ</a></li>
        <li><a href="/signup">サインアップ</a></li>
        <li><a href="/login">ログイン</a></li>
        <li><a href="/logout">ログアウト</a></li>
        <li><a href="/images">画像一覧</a></li>
        <li><a href="/images/new">画像投稿</a></li>
        <li><a href="/summary">集計</a></li>
        <li><a href="/profile">プロフィール変更</a></li>
        <li><a href="/account">アカウント変更</a></li>
      </ul>
    </header>
  </body>
</html>
