html
  head

  body
    div
      a(href="/secret") シークレット
      br
      a(href="/signup") サインアップ
      br
      a(href="/login") ログイン
      br
      a(href="/logout") ログアウト
      br
      a(href="/image") 画像投稿

      ul
        each image in images
          li
            p= image.userId
            img(src=image.filename)
      
