<html>
  <head></head>

  <body>
    <div>
      <a href="/signup">サインアップ</a>
      <br>
      <a href="/login">ログイン</a>
      <br>
      <a href="/logout">ログアウト</a>
      <br>
      <a href="/images">画像一覧</a>
      <br>
      <a href="/images/new">画像投稿</a>
    </div>
  </body>
</html>
