html
  head
    //- title= title
  body
    //- h1= message
    p
      a(href="#") 文字
    form(action="/images" method="POST" enctype="multipart/form-data")
      input(type="file" name="faceImage")
      button(type="submit") 送信
      
    ul
      each image in images
        li
          img(src=image.filename)
