<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <div class="container">
      <main>
        <section>
          <article>
            <h1>
              <img src="logo_shape.png">
                <p>マッチングアプリで<span>ウケ</span>る写真を見つけるサービス<p>
              </img>
            </h1>
            <div class="form">
              <ul>
                <li class="login"><a href="/login">ログイン</a></li>
                <li><a href="/signup">アカウント作成</a></li>
              </ul>
            </div>
            <div class="description">
              <h2>Profeeling<span>とは？</span></h2>
              <div class="flow-wrapper">
                <div class="flow">
                  <h3><img src="number_1.png">写真にいいね!する</h2>
                  <div class="detail">
                    <p>気に入った写真には<span>いいね!</span>しよう</p>
                    <img src="flow_rating.png">
                  </div>
                </div>
                <div class="flow">
                  <h3><img src="number_2.png">写真を投稿する</h2>
                  <div class="detail">
                    <p>写真を投稿して<span>ウケ</span>る写真を見つけよう</p>
                    <img src="flow_post.png">
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
      </main>
    </div>
    <%- include("footer", {}) %>
  </body>
</html>