<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <% include header %>

    <main>
      <h1>トップ</h1>
    </main>
  </body>
</html>