<html>
  <head></head>
  <body>
    <h1>ログイン</h1>
    
    <form action="/login" method="POST">
      <input type="text" name="email" placeholder="email">
      <br>
      <input type="password" name="password" placeholder="password">
      <br>
      <button type="submit">ログイン</button>
    </form>
  
  </body>
</html>
      