<html>
  <head>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/login.css">
  </head>
  <body>
    <div class="container">
      <main>
        <section>
          <article>
            <div class="article-item">
              <div class="logo">
                <img src="logo_shape.png"></img>            
              </div>
            </div>
            <div class="article-item">
              <form action="/login" method="POST">
                <div>
                  <label>メールアドレス<br>
                    <input type="text" name="email" value="<%= form.email %>">
                  </label>
                </div>
                <div>
                  <label>パスワード<br>
                    <input type="password" name="password" value="">
                  </label>
                </div>
                <div>
                  <button type="submit">ログイン</button>
                </div>
              </form>
            </div>
            <div class="article-item">
              <div class="errors">
                <% if (errors) {
                  errors.forEach((error) => { %>
                    <p><%= error %></p>
                  <% })
                } %>
              </div>
            </div>
          </article>
        </section>
      </main>

      <%- include("footer", {}) %>
    </div>
  </body>
</html>
