<html>
  <head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="settings.css">
  </head>
  <body>
    <div class="container">
      <%- include("header", {
        form: {
          active: "settings",
          logoUrl: "logo_shape.png"
        }
      }) %>

      <main>
        <section>
          <article>
            <h1>Settings</h1>
            <ul>
              <li><a href="/profile">プロフィール</a></li>
              <li><a href="/account">アカウント</a></li>
              <li><a href="/logout">ログアウト</a></li>
            </ul>
          </article>
        </section>
      </main>

      <%- include("footer", {}) %>
    </div>
  </body>
</html>
