html
  head
    //- title= title
  body
    h1 サインアップ
    
    form(action="/signup" method="POST")
      input(type="text" name="email" placeholder="email")
      br
      input(type="password" name="password" placeholder="password")
      br
      button(type="submit") サインアップ
  
    if errors
      each error in errors
        p= error
