<html>
  <head>集計</head>
  <br>
  <body>
    <% if (form.summaries) {
      form.summaries.forEach(summary => { %>
        <img src="<%= summary.thumbnailUrl %>">
        <p>like率: <%= summary.likeRate %></p>
      <% })
    } %>
  </body>
</html>
